Add a Round
<form action="/roundid/{{ round_id }}/entershot" method="post">
    <input type="radio" name="shot_from" id="shot_from_T" value="T">
    <label for="shot_from_T">Tee</label>
    <input type="radio" name="shot_from" id="shot_from_F" value="F">
    <label for="shot_from_F">Fairway</label>
    <input type="radio" name="shot_from" id="shot_from_R" value="R">
    <label for="shot_from_R">Rough</label>
    <input type="radio" name="shot_from" id="shot_from_S" value="S">
    <label for="shot_from_S">Sand</label>
    <input type="radio" name="shot_from" id="shot_from_G" value="G">
    <label for="shot_from_G">Green</label>
    <input type="radio" name="shot_from" id="shot_from_RC" value="RC">
    <label for="shot_from_RC">Recovery</label>
    <input type="radio" name="shot_from" id="shot_from_P" value="P">
    <label for="shot_from_P">Penalty</label>
    <input type="text" name="dist_to_hole" id="dist_to_hole">
    <input type="checkbox" name="holed" id="holed" value='true'>
    <label for="holed">Holed?</label>
    <button type="submit">Next Shot</button>
</form>

{{#each shots }}
<p>Dist: {{dist_to_hole}}, From: {{ shot_from }} </p>
{{/each }}