<form action="/displayround/" method="POST">
<select name="roundId" id="roundId">
    {{#each data}}
    <option value="{{ id }}">{{ course }}, {{ round_date }}</option>
    {{/each}}
</select>
<input type="submit" value="Lookup">
</form>