<form action="/addround" method="post">
    <input type="date" name="round_date" id="round_date">
    <label for="round_date">Round Date</label>
    <input type="text" name="course" id="course">
    <label for="course">Course</label>
    <input type="submit" value="Submit">
</form>